* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: url(https://res.cloudinary.com/nikola1970/image/upload/v1456692130/body-bg_ovz9eo.png) top center no-repeat;
}

#game-intro p, h1 {
    color: #333333; /* Cambiar color del texto */
    font-size: 30px; /* Cambiar tamaño de fuente */
    font-family: cursive; 
    text-align: center; /* Centrar el texto */
	padding: 30px;
    margin: 20px 0; /* Espaciado superior e inferior */
	background: url(https://res.cloudinary.com/nikola1970/image/upload/v1456692129/bg_qsnd0u.jpg) no-repeat top center;
	width: 100%;

}

.styled-button{
	display: flex;
	margin: 0 auto;
	margin: 50px;
	padding: 10px 20px;
	background:url(https://res.cloudinary.com/nikola1970/image/upload/v1456692129/bg_qsnd0u.jpg) no-repeat top center;
	border: 1px solid #333;
	border-radius: 5px;
	font-size: 20px;
	font-family: cursive;
	cursor: pointer;
	
}
#timer-wrapper {
	display: flex;
	justify-content: right;
	flex-direction: column;
	align-items: right;
	width: 50%;
	text-align: right;
}
#timer {
	
	display: flex;
	font-size: 40px;
    font-family: cursive;
    color: rgb(217, 103, 29);
	justify-content: right;
	
	align-items: right;
	text-align: right;	
	height: 20px;
	background: none;
}

#progress-bar {
	width: 100px;
	height: 20px;
	background: rgb(217, 103, 29);
	margin-top: 20px;
}
.wrapper {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
} 

h1 {
	text-align: center;
	font-family: cursive;
	color: rgba(0, 0, 0, 0.45);
}

img {
	max-width: 70%;
	height: auto;
	margin-top: 20px;
}

.table{
	width: 70%;
	height: 100%;
	margin-top: 20px;
}

.table:after  {
	content: "";
	display: block;
	clear: both;
}
 
.field {
	width: 10%;
	margin: 1% 1%;
	height: 120px;
	border: 1px solid #000;
	border-radius: 8px;
	float: left;
	cursor: pointer;
}


.inner-wrap {
	width: 100%;
	height: 100%;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front {
	background: url(https://res.cloudinary.com/nikola1970/image/upload/v1456692129/bg_qsnd0u.jpg) no-repeat top center;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	z-index: 2;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
}

.flipped {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);

}

.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	text-align: center;
}

.result p {
    font-size: 46px;
    font-family: cursive;
    color: rgb(217, 103, 29);
}

.result {
    position: absolute;
    right: -185px;
    top: 58px;
}

p.counter {
    text-align: center;
}

span {
    text-align: center;
    display: block;
    font-family: cursive;
}

.wrapper > p {
    text-align: center;
    margin-bottom: 20px;
}